<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jereczem.hasrpg" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.activities.SignInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".view.activities.SignInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activities.SignInActivity" />
        </activity>
        <activity
            android:name=".view.activities.MenuActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".view.activities.CreateLobbyActivity"
            android:label="@string/title_activity_create_lobby"
            android:parentActivityName=".view.activities.MenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jereczem.hasrpg.view.activities.MenuActivity" />
        </activity>
        <activity
            android:name=".view.activities.LobbyActivity"
            android:label="@string/title_activity_lobby"
            android:parentActivityName=".view.activities.MenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jereczem.hasrpg.view.activities.MenuActivity" />
        </activity>
        <activity android:name=".view.activities.GameActivity" >
        </activity>
        <activity android:name=".view.activities.HunterGameActivity" >
        </activity>
        <activity android:name=".view.activities.ChaseGameActivity" >
        </activity>

    </application>

</manifest>
